@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Indie+Flower&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
font-family: "Roboto", serif;
font-family: "Open Sans", serif;
font-family: "Indie Flower", serif;
font-family: "Gruppo", serif;
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", serif;
}

.header{
  width: 100%;
}

.nav{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, .93);
}

.logo{
  transition: .2s linear;
}

.logo img{
  border-radius: 7px;
  vertical-align: middle;
  width: 48px;
}

.logo:hover{
  transform: rotate(0.5turn);
}

.links a{
  padding: 10px;
  transition: .2s linear;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.links a:hover{
  color: rgba(255, 100, 0);
}

/* home page */

.index-main{
  position: relative;
}

.index-overlay{
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  width: 100%;
  height: 100vh;
}

.index-text{
  text-align: center;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.index-title{
  font-size: 3.5rem;
  color: rgb(255, 0, 0);
}

.index-leyend{
  color: rgb(255, 255, 255);
}

.index-user{
  position: absolute;
  display: flex;
  align-items: center;
  top: 5%;
  right: 5%;
}

.index-user-p{
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding-right: 30px;
}

.index-user-img{
  width: 100px;
  border-radius: 40%;
}

.index-btn{
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px 40px;
  background-color: rgba(137, 43, 226, 0.5);
  border-radius: 50px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .2s linear;
  z-index: 1;
  text-decoration: none;
}

.index-btn:hover{
  background-color: rgb(138, 43, 226);
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.635);
}

.index-video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* products page - cards */

.products-main{
  background-color: rgba(0, 0, 0, .9);
}

.products-main-logo{
  object-fit: cover;
  height: 40vh;
  display: flex;
  justify-content: center;
  position: relative;
}
  
  .carousel-overlay-h3{
    color: rgb(255, 0, 0);
    position: absolute;
    font-size: 3.5rem;
    font-weight: bold;
    top: 10%;
    right: 16%;
    max-width: 350px;
    max-height: 60px;
    transition: .2s linear;
    z-index: 1;
}

.carousel-overlay-h3:hover{
  filter: blur(5px);
}

.cards{
  max-width: 1400px;
  margin: 0px auto;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-sections{
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.cards-sections-title{
  width: 90%;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.card{
  transition: .3s linear;
  background-color: black;
}

.card:hover{
  transform: scale(1.04);
}

.card-img{
  width: 100%;
  height: 24rem;
  object-fit: cover;
}

/* contact page */

.contact-container{
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.contact-main{
  background-color: rgba(0, 0, 0, .9);
}

.contact-form-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-title{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  padding: 20px;
}

.contact-form{
  display: flex;
  flex-direction: column;
  min-width: 500px;
  gap: 10px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(251, 250, 252, 0.103);
  border-radius: 7px;
  padding: 10px;
}

.fname, .email{
  height: 25px;
  border-radius: 2px;
  padding: 5px;
}

.submit{
  font-size: 15px;
  height: 30px;
  border-radius: 3px;
  transition: .2s linear;
  cursor: pointer;
  background-color: rgb(204, 204, 204);
}

.submit:hover{
  background-color: rgb(170, 170, 170);
}

.message{
  padding: 5px;
}

input{
  border: none;
}

.contact-iframe{
  text-align: center;
  padding: 50px;
}

.contact-iframe-title{
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  padding: 20px;
}

iframe{
  border-radius: 7px;
  min-width: 500px;
  height: 400px;
}

/* footer */

.footer{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, .92);
}

.rrss{
  text-align: center;
  width: 100%;
}

.rrss-a{
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  align-items: center;
  margin: 0 auto;
}

.rrss a{
  align-items: center;
}

.rrss img{
  transition: .2s linear;
  width: 36px;
}

.rrss img:hover{
  transform: scale(1.1);
}

.rrss p{
  color: rgb(255, 255, 255);
}

.copyright{
  width: 100%;
}

.copyright p{
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer-span{
  color: rgb(255, 0, 0);
}

@media only screen and (max-width: 600px) {
  .contact-form, iframe{
    min-width: 300px;
  }
}
